* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(226, 237, 235)
}

.page {
    width: 90%;
    height: auto;
    background-color: white;
    margin: 30px auto;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    /*border: 1px solid black;
    */
    border-radius: 1.5625rem;
    overflow: hidden;
}

main {
    width: 28.75em;
    height: 31.25rem;
    padding: 0px 3.125rem;
    float: left;
    /* border: 1px solid black; */
}

main>p {
    width: 10.3125rem;
    height: 4.375rem;
    margin-left: 5px;
    margin-top: 10px;
    background: url(../img/logo-univ.jpg);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

h1 {
    font-size: 1.375rem;
    font-weight: normal;
    /* border: 1px solid black; */
    margin-top: 5px;
    ;
}

form {
    width: 20.625rem;
    height: 15.625rem;
    /* border: 1px solid black; */
    border-bottom: 1px solid silver;
}

form>input {
    margin: 10px auto;
    width: 100%;
    height: 2.5rem;
    padding-left: 15px;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form>label {
    font-size: 1.375rem;
}

#btn-login {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 0px;
}

#btn-login:hover {
    cursor: pointer;
}

.notification {
    height: 2.1875rem;
    width: 20.625rem;
    background-color: rgba(255, 0, 0, 0.5);
    padding-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.notification>p {
    margin: auto;
    text-align: center;
    color: white;
}

aside {
    width: 28.125rem;
    height: 32.5rem;
    float: left;
    /* border: 1px solid black; */
    background: url(../img/aside.png) 0 0 no-repeat;
    background-size: cover;
}

footer {
    font-size: 0.75rem;
    float: left;
}

footer>a {
    float: left;
    clear: both;
    margin-left: 3.125rem;
    text-decoration: none;
}